// fonts
$Roboto: 'Roboto', Arial, sans-serif;
$Bebas: 'bebas neue', Arial, sans-serif;

// Text size
//$sxs-font-size: 12px;
//$xs-font-size: 13px;
//$sm-font-size: 14px;
//$md-font-size: 16px;
//$lg-font-size: 18px;
//$xl-font-size: 20px;
//
//$head-sm-size: 22px;
//$head-md-size: 24px;
//$head-lg-size: 28px;
//$head-xl-size: 36px;

// responsive vars
$lg-desktop: 1920px;
$md-desktop: 1440px;
$lg-tablet: 1024px;
$md-tablet: 768px;
$lg-mobile: 480px;
$md-mobile: 360px;

// colors
$grey: #5B5B5B;
$greyLight: #727271;
$red: #D22027;


// parallax slider
$paralaxAutoplay: 10s;



